/* General styles */
body {
	margin: 0;
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	color: #000;
}

.banner {
	background-color: #add8e6; /*light blue */
	color:black;
	padding: 0.25rem;
	text-align: left;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1.0rem;
	font-weight: 500;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

header {
	background-color: #003366;
	color: white;
	padding: 1rem;
	text-align: center;
}



.container {
	display: flex;
	flex-direction: row;
	min-height: 100vh;
}

/* Sidebar menu */
.sidebar {
	width: 200px;
	background-color: #1a1a1a;
	color: white;
	padding: 1rem;
}

.sidebar ul{
	list-style: none;
	padding: 0;
}

.sidebar li{
	margin: 1rem 0;
}

.sidebar a{
	color: #add8e6;
	text-decoration: none;
}

.sidebar a:hover {
	text-decoration: underline;
}

.search-container {
	margin-bottom: 1.5rem;
}

.search-bar {
	width: 90%;
	padding: 0.5rem;
	margin: 0.5rem 0;
	border: none;
	border-radius: 5px;
	font-size: 1rem;
}

/* Main content */
.content {
	flex: 1;
	padding: 2rem;
	background color: white;
}

img {
  display: block;
  margin: auto;
  width: 50%;
}

.news-section {
	margin-bottom: 1.5rem;
	border: 1px solid #FF7F50;
	border-left: 4px solid #003366;
	background-color: #e6e6e6;
}

.news-label {
	display: block;
	padding: 1rem;
	background-color: #FF7F50;
	font-weight: bold;
}

.news-content {
	max-height: 750pix;
	padding: 0 1rem;
	background-color: white;
}

/* Responsive styles */
@media (max-width: 768px) {
	.container {
		flex-direction: column;
	}
	
	.sidebar {
		width: 100%;
		display: flex;
		justify-content: center;
		background-color: #1a1a1a;
	}
	
	.sidebar ul {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: wrap;
	}
	
	.sidebar li {
		margin: 0.5rem;
	}
	
	.content {
		padding: 1rem;
	}
}